.card {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
}

.card_description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label {
    margin-left: 40px;
    max-width: 70px;
    margin-bottom: 30px;
}