.container {
    max-width: 300px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.card{
    max-width: 250px;
    height: 150px;
    display: block;
    text-overflow: hidden;
}